
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

/* .App {
  text-align: center;
} */
* {

  box-sizing: border-box;
  margin: 0;
  padding:0;
  background-color: #24252A;
  background-image: url("https://lesbricodeurs.fr/images/react.jpeg")no-repeat;
}
li, a, button {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #edf0f1;
  text-decoration: none;
}
.header {
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px, 10%;
  
}

.logo {
  cursor: pointer;
  background-position: center ;
  width: 300px;
  height: 150px;
}
.nav_links {
  list-style: none;
}
.nav_links li {
  display: inline-block;
  padding: 0px 20px;
}
.nav_links li a {
 transition: all 0.3s ease 0s;
}
.nav_links li a:hover {
  color: white;
}
.cta button {
  padding: 9px 25px;
  background-color: rgb(94, 202, 252);
  border:none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease 0%;
}

button:hover {
  background-color: rgba(25, 53, 216, 0.8);
}



.footer-top { padding: 60px 0;  text-align: left; color: #aaa; }
.footer-top h3 { padding-bottom: 10px; color: #fff; }

.footer-about img.logo-footer { max-width: 74px; margin-top: 0; margin-bottom: 18px; }
.footer-about p a { color: #aaa; border-bottom: 1px dashed #666; }
.footer-about p a:hover, .footer-about p a:focus { color: #fff; border-color: #aaa; }

.footer-contact p { word-wrap: break-word; }
.footer-contact i { padding-right: 10px; font-size: 18px; color: #666; }
.footer-contact p a { color: #aaa; border-bottom: 1px dashed #666; }
.footer-contact p a:hover, .footer-contact p a:focus { color: #fff; border-color: #aaa; }

.footer-social a { display: inline-block; margin-right: 20px; margin-bottom: 8px; color: #777; border: 0; }
.footer-social a:hover, .footer-social a:focus { color: #aaa; border: 0; }
.footer-social i { font-size: 24px; vertical-align: middle; }

.footer-bottom { padding: 15px 0; background: rgb(94, 202, 252); text-align: left; color: #aaa; }

.footer-copyright p { margin: 0; padding: 0.5rem 0; }
.footer-copyright a { color: #fff; border: 0; }
.footer-copyright a:hover, .footer-copyright a:focus { color: #aaa; border: 0; }

/* footer navbar */
.navbar-dark .navbar-nav { font-size: 15px; color: #fff; font-weight: 400; }
.navbar-dark .navbar-nav .nav-link { color: #fff; border: 0; }
.navbar-dark .navbar-nav .nav-link:hover { color: #aaa; }
.navbar-dark .navbar-nav .nav-link:focus { color: #aaa; outline: 0; }

.navbar-expand-md .navbar-nav .nav-link { padding-left: 1rem; padding-right: 1rem; }







